@import '../../variables.scss';

.wrapper {      
    display: flex;
    flex-direction: row;
    margin: 1rem;
    transition: all .2s ease;
    @include bgSetup;

    & > img {
        width: 12rem;
        height: 12rem;
        margin: 1rem;
        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    }

    &__body {
        font-size: 2rem;
        margin: auto 0 auto 2rem;

        & > div > span {
            font-weight: bold;
        }

        &>:last-child{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        transform: scale(1.02);
    }
    
}