@import '../../variables.scss';

.wrapper {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    &>* {
        flex: 0 0 49%;
    }
}

.btn {
    @include btn;
    margin: 2rem auto 0 auto;
}